# macOS
.DS_Store

# Project
# Ignore all GoogleService-Info.plist files
**/GoogleService-Info.plist
Development working out
Secrets.plist


# Xcode
*.xcuserstate
Secrets.plist
xcuserdata/
DerivedData/
*.xcworkspace
GoogleService-Info.plist
**/GoogleService-Info.plist


# Swift Package Manager
.build/
