<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>579710785195-kvb1v2glm28hgqu0bdbadoj7a2vod50p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.579710785195-kvb1v2glm28hgqu0bdbadoj7a2vod50p</string>
	<key>API_KEY</key>
	<string>AIzaSyBVNKFnOWLjQHngFusA5AnYc-EqZ359Q5M</string>
	<key>GCM_SENDER_ID</key>
	<string>579710785195</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rmit.FireLab</string>
	<key>PROJECT_ID</key>
	<string>firelab-a1cfb</string>
	<key>STORAGE_BUCKET</key>
	<string>firelab-a1cfb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:579710785195:ios:17307ef38cdef436acc9ee</string>
</dict>
</plist>